[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = "*"
kivymd = "*"
"mysql.connector" = "*"
scrapy-djangoitem = "*"
requires = "*"

[dev-packages]

[requires]
python_version = "3.10"
